* {
  font-family: Tahoma;
  text-align: center;
}
div {
  width: 200px;
  height: 200px;
  border-left: solid 5px black;
  border-top: dashed 2 px green;
  border-right: solid 2px red;
  border-bottom: solid 2px red;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
  background-color: lightblue;
  text-align
}
